.crossword-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: grey;
    height: 80vw;
    width: 80vw;
    max-height: 1000px;
    max-width: 1000px;
    margin: auto;
}

.crossword-row {
    display: flex;
    flex-direction: row;
    color: white;
}

.square {
    width: calc((80vw - 200px) / 10);
    height: calc((80vw - 200px) / 10);
    margin: 2px;
    background-color: white;
}

.square:hover {
    transform: scale(1.05);
    background-color: aqua;
}

@media (min-width: 1200px) {
    .square {
        width: calc((85vw - 500px) / 10);
        height: calc((85vw - 500px) / 10);
    }
}


