.crossword-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    height: 100%;
}

.crossword-row {
    display: flex;
    flex-direction: row;
    color: white;
}

.square {
    width: 5vw;
    height: 5vw;
    margin: 2px;
    background-color: white;
}

.square:hover {
    transform: scale(1.02);
    background-color: aqua;
}